:root {
    --tipografiaUno: "Poppins";
    --tipografiaDos: "Heebo";
}
body{
    overflow-x: hidden;
}

.wrapp {
    margin: 2.5rem auto;
    width: min(100% - 2rem, 90rem);
}

.navegador {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navegador h2 {
    font-family: var(--tipografiaDos);
    font-size: 2.25rem;
    font-weight: 800;
}

.navegador .navegador__contenedor {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.navegador .navegador__contenedor .nav__list{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 3rem;
}
.navegador .navegador__contenedor .nav__list a {
    text-decoration: none;
    font-family: var(--tipografiaUno);
    font-size: 1.5rem;
    line-height: 36px;
    font-weight: 500;
    color: #333333;
}

.section__uno {
    margin-top: 2rem;
    width: 100%;
}

.section__uno .section__uno--primer {
    max-width: 544px;
    width: 100%;
    margin: 4rem 10rem;
}

.section__uno .section__uno--primer p {
    font-family: var(--tipografiaUno);
    font-weight: 500;
    font-size: 1.125rem;
    color: #2D9CDB;
}

.section__uno .section__uno--primer h1 {
    font-family: var(--tipografiaUno);
    font-weight: 500;
    font-size: 3rem;
    line-height: 72px;
    color: #333333;
}

.section__uno img {
    width: 100%;
    border-radius: 18px;
}

.section__uno .section__uno--segundo {
    max-width: 544px;
    width: 100%;
    margin: 4rem 10rem;
}

.section__uno .section__uno--segundo h2 {
    font-family: var(--tipografiaUno);
    font-weight: 500;
    font-size: 3rem;
    line-height: 72px;
    color: #333333;
    width: 366px;
}

.section__uno .section__uno--segundo .section__uno--segundo-parrafo--uno {
    font-family: var(--tipografiaUno);
    font-weight: 500;
    font-size: 1.125rem;
    line-height: 27px;
    color: #4F4F4F;
    width: 366px;
}

.section__uno .section__uno--segundo .section__uno--segundo-parrafo--dos {
    font-family: var(--tipografiaUno);
    font-style: normal;
    font-weight: 500;
    font-size: .875rem;
    line-height: 21px;
    color: #828282;
    margin-top: 2rem;
}

.section__uno .section__uno--segundo .section__uno--segundo-email {
    width: 350px;
    background-color: #F2F2F2;
    border-radius: 12px;
    height: 57px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: .5rem;
}

.section__uno .section__uno--segundo .section__uno--segundo-email input[type="email"] {
    outline: none;
    border: none;
    background: transparent;
    width: 55%;
    height: 100%;
    padding-left: 1rem;
    font-family: var(--tipografiaUno);
    font-size: 1.125rem;
    color: #BDBDBD;
}

.section__uno .section__uno--segundo .section__uno--segundo-email button {
    outline: none;
    background-color: #2D9CDB;
    width: 94px;
    height: 49px;
    border-radius: 12px;
    border: none;
    cursor: pointer;
    color: #F2F2F2;
    font-family: var(--tipografiaUno);
}

.section__servicios {
    width: 90%;
    margin: 6rem auto;
}

.section__servicios h2 {
    font-family: var(--tipografiaUno);
    font-style: normal;
    font-weight: 500;
    font-size: 2.25rem;
    line-height: 54px;
    color: #333333;
    width: 346px;
}

.section__servicios .section__servicios--cards {
    display: flex;
    gap: 1rem;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.section__servicios .section__servicios--cards .card {
    width: 341px;
    height: 422px;
    padding: 2rem;
    transition: .5s;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    flex-wrap: wrap;
}

.section__servicios .section__servicios--cards .card:hover {
    background: #FFFFFF;
    -webkit-box-shadow: 3px 8px 15px -7px rgba(0, 0, 0, 0.74);
    box-shadow: 3px 8px 15px -7px rgba(0, 0, 0, 0.74);
    border-radius: 24px;
    cursor: pointer;
}


.section__servicios .section__servicios--cards .card .card__icon {
    width: 67px;
    height: 67px;
    border-radius: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.section__servicios .section__servicios--cards .card .card__icon span {
    color: #FFFFFF;
    font-size: 2rem;
    line-height: 1rem;
}

.section__servicios .section__servicios--cards .card .uno {
    background-color: #2D9CDB;
}

.section__servicios .section__servicios--cards .card .dos {
    background-color: #27AE60;
}

.section__servicios .section__servicios--cards .card .tres {
    background-color: #EB5757;
}

.section__servicios .section__servicios--cards .card h3 {
    font-family: var(--tipografiaUno);
    font-style: normal;
    font-weight: 700;
    font-size: 1.5rem;
    line-height: 36px;
    color: #333333;
}

.section__servicios .section__servicios--cards .card p {
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: #4F4F4F;
    width: 273px;
}

.section__servicios .section__servicios--cards .card button {
    width: 116px;
    height: 42px;
    background: #E0E0E0;
    border-radius: 12px;
    border: none;
    outline: none;
    font-family: var(--tipografiaUno);
    font-weight: 500;
    font-size: 1rem;
    line-height: 24px;
    color: #828282;
    transition: .5s;
}

.section__servicios .section__servicios--cards .card:hover button {
    background-color: #2D9CDB;
    color: #FFFFFF;
    cursor: pointer;
}


.section__proyectos {
    width: 90%;
    margin: 6rem auto;
}

.section__proyectos--titulo {
    width: 90%;
}

.section__proyectos .section__proyectos--titulo h2 {
    width: 448px;
    font-family: var(--tipografiaUno);
    font-weight: 500;
    font-size: 2.25rem;
    line-height: 54px;
    color: #333333;
}

.section__proyectos .see__more {
    text-align: end;
}

.section__proyectos .see__more a {
    text-decoration: none;
    font-family: var(--tipografiaUno);
    font-weight: 500;
    font-size: 1.5rem;
    line-height: 36px;
    color: #2D9CDB;
}

.section__proyectos .section__proyectos--contenedor {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 1rem;
}

.section__proyectos .section__proyectos--contenedor .card__proyecto {
    width: 545px;
}

@media (max-width: 1200px) {
    .section__proyectos .section__proyectos--contenedor .card__proyecto {
        width: 445px;
    }
}

.section__proyectos .section__proyectos--contenedor .card__proyecto img {
    width: 100%;
    border-radius: 12px;
}

.section__proyectos .section__proyectos--contenedor .card__proyecto .app__type {
    font-family: var(--tipografiaUno);
    font-weight: 300;
    font-size: .875rem;
    line-height: 21px;
    color: #828282;
}

.section__proyectos .section__proyectos--contenedor .card__proyecto .name__app {
    font-family: var(--tipografiaUno);
    font-style: normal;
    font-weight: 500;
    font-size: 1.5rem;
    line-height: 36px;
    color: #333333;
    margin-top: -1rem;
}

.section__proyectos .section__proyectos--contenedor .mt {
    margin-top: 6rem;
}

.section__team {
    width: 90%;
    margin: 6rem auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.section__team .section__team--textos .rj {
    font-family: var(--tipografiaUno);
    font-style: normal;
    font-weight: 500;
    font-size: 1.125rem;
    line-height: 27px;
    color: #EB5757;
}

.section__team .section__team--textos h2 {
    width: 280px;
    font-family: var(--tipografiaUno);
    font-style: normal;
    font-weight: 500;
    font-size: 2.25rem;
    line-height: 54px;
    color: #333333;
}

.section__team .section__team--textos .text {
    font-family: var(--tipografiaUno);
    font-style: normal;
    font-weight: normal;
    font-size: 1rem;
    line-height: 24px;
    color: #4F4F4F;
    width: 273px;
}

.section__team .section__team--imagenes {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.section__team .section__team--imagenes .imagen__uno {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.section__team .section__team--imagenes .imagen__uno img,
.section__team .section__team--imagenes .imagen__dos img {
    border-radius: 24px;
}

.section__team .section__team--imagenes .imagen__dos img {
    max-width: 320px;
    width: 100%;
}

.section__team .section__team--imagenes .imagen__uno .uno {
    max-width: 260px;
    width: 100%;
}

.section__team .section__team--imagenes .imagen__uno .dos {
    max-width: 291px;
    width: 100%;
}

.section__testimonial {
    width: 90%;
    margin: 4rem auto;
}

.section__testimonial p {
    font-family: var(--tipografiaUno);
    font-style: normal;
    font-weight: 500;
    font-size: 2.25rem;
    line-height: 54px;
    color: #333333;
    max-width: 937px;
    width: 100%;
}

.section__testimonial .testimonial__perfil {
    display: flex;
    gap: 1rem;
    align-items: center;
    height: 60px;
}

.section__testimonial .testimonial__perfil img {
    height: 100%;
    border-radius: 12px;
}

.section__testimonial .testimonial__perfil .testimonial__text h3 {
    font-family: var(--tipografiaUno);
    font-style: normal;
    font-weight: 500;
    font-size: 1.5rem;
    line-height: 36px;
    color: #333333;
}

.section__testimonial .testimonial__perfil .testimonial__text p {
    margin-top: -1rem;
    font-family: var(--tipografiaUno);
    font-style: normal;
    font-weight: 500;
    font-size: 1.125rem;
    line-height: 27px;
    color: #828282;
}

.footer {
    width: 100%;
    height: 485px;
    background-color: #100E1D;
    text-align: center;
}

.footer p {
    margin-top: 5rem;
    font-family: var(--tipografiaUno);
    font-style: normal;
    font-weight: 500;
    font-size: .875rem;
    line-height: 17px;
    text-align: center;
    color: #F2F2F2;
}

.footer .footer__wrapp {
    width: min(100% - 2rem, 80rem);
    padding: 2rem;
    margin: auto auto;
    display: flex;
    justify-content: space-around;
    align-items: baseline;
}

.footer .footer__wrapp .lista {
    display: flex;
    flex-direction: column;
}

.footer .footer__wrapp .lista a {
    text-decoration: none;
    font-family: var(--tipografiaUno);
    font-style: normal;
    font-weight: normal;
    font-size: 1.125rem;
    line-height: 200%;
    color: #FFFFFF;
    text-align: justify;
}

.footer .footer__wrapp .footer__element {
    width: 60px;
}

.footer .footer__wrapp .footer__element h2 {
    font-family: var(--tipografiaDos);
    font-style: normal;
    font-weight: 800;
    font-size: 2.25rem;
    line-height: 53px;
    color: #F2F2F2;
}

.footer .footer__wrapp .footer__element .lista__iconos {
    display: flex;
    gap: 1rem;
}

.footer .footer__wrapp .footer__email p {
    font-family: var(--tipografiaUno);
    font-style: normal;
    font-weight: 500;
    font-size: .875rem;
    line-height: 21px;
    color: #F2F2F2;
    text-align: justify;
}

.footer .footer__wrapp .footer__email .section__footer--segundo-email {
    width: 350px;
    background-color: #F2F2F2;
    border-radius: 12px;
    height: 57px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: .5rem;
}

.footer .footer__wrapp .footer__email .section__footer--segundo-email input[type="email"] {
    outline: none;
    border: none;
    background: transparent;
    width: 55%;
    height: 100%;
    padding-left: 1rem;
    font-family: var(--tipografiaUno);
    font-size: 1.125rem;
    color: #BDBDBD;
}

.footer .footer__wrapp .footer__email .section__footer--segundo-email button {
    outline: none;
    background-color: #2D9CDB;
    width: 94px;
    height: 49px;
    border-radius: 12px;
    border: none;
    cursor: pointer;
    color: #F2F2F2;
    font-family: var(--tipografiaUno);
}
.menu,
.close_menu {
    display: none;
}
@media (max-width: 900px){
    .navegador__contenedor{
        position: fixed;
        width: 100%;
        height: 100%;
        background: #FFFFFF;
        z-index: 3;
        top: -100vh;
        left: 0;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        transition: .5s;
    }
    .navegador .navegador__contenedor .nav__list{
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        height: 300px;
        width: 100%;
    }
    .menu {
        display: flex;
        height: 27.7px;
    }

    .close_menu {
        display: block;
        height: 27.7px;
        position: absolute;
        right: 35px;
        top: 80px;
    }

    .menu,
    .close_menu:hover {
        cursor: pointer;
    }
}
@media (max-width: 800px) {

    .section__uno .section__uno--primer,
    .section__uno .section__uno--segundo {
        margin: 4rem auto;
        width: min(100% - 2rem, 80rem);
    }

    


}

@media (max-width: 649px) {
    .section__uno .section__uno--primer p {
        font-size: .75rem;
    }

    .section__uno .section__uno--primer h1 {
        font-size: 1.5rem;
        line-height: 36px;
    }

    .section__uno .section__uno--segundo h2 {
        font-size: 1.5rem;
        line-height: 36px;
    }

    .section__uno .section__uno--segundo .section__uno--segundo-parrafo--uno {
        font-size: .75rem;
        line-height: 18px;
    }

    .section__uno .section__uno--segundo .section__uno--segundo-parrafo--dos {
        font-size: .625rem;
    }

    .section__uno .section__uno--segundo .section__uno--segundo-email button,
    .section__uno .section__uno--segundo .section__uno--segundo-email input[type="email"] {
        font-size: .875rem;
    }

    .section__servicios h2 {
        font-size: 1.5rem;
        line-height: 36px;
        width: 259px;
    }

    .section__proyectos .section__proyectos--titulo h2 {
        width: 267px;
        font-size: 1.5rem;
        line-height: 36px;
        margin: 0 auto;
    }

    .section__proyectos {
        width: 100%;
    }

    .section__proyectos .see__more {
        margin-top: 2rem;
        text-align: left;
    }

    .section__proyectos .see__more a {
        font-size: 1.125rem;
        line-height: 27px;
    }

    .section__proyectos .section__proyectos--contenedor .card__proyecto .app__type {
        font-size: .75rem;
        line-height: 18px;
    }
    
    .section__proyectos .section__proyectos--contenedor .card__proyecto .name__app {
        font-size: 1.125rem;
        line-height: 27px;
    }

    .section__team {
        width: 100%;
        flex-direction: column;
        align-items: flex-start;
    }

    .section__testimonial p {
        font-size: 1.5rem;
        line-height: 36px;
    }
    .footer{
        height: 693px;
    }
    .footer .footer__wrapp {
        flex-direction: column;
    }
    
}